body, html { 
    height: 100%; 
    }

#main {
    margin: 0 auto;
    width: 1180px;
    padding: 35px 50px;
    position: relative;
    }

.clear { clear: both; }

/* TYPOGRAPHY */
body {
    font-family: Tahoma, Verdana, Arial;
    color: #333;
    }

h1 {
    margin: 0 auto 20px auto;
    font-size: 200%;
    float: left;
    }

h2 {
    margin-bottom: 20px;
    text-align: center;
    }
    
a {
    text-decoration: none;
    color: #009d0c; 
    }

.backBtn {
    display: block;
    width: 137px;
    height: 58px;
    background: url(img/tilbake.png) no-repeat;
    float: left;
    }

.largeBtn {
    width: 296px;
    height: 53px;
    background: url(img/playfuss.png) no-repeat;
    border: 0;
    color: #fff;
    font-size: 22px;
    text-shadow: -1px -1px #000;
    cursor: pointer;
    margin: 0 0 30px -148px;
    left: 50%;
    position: relative;
    display: block;
    text-align: center;
}

/* INDEX */
#playerPicker {
    width: 100%;
    overflow: hidden;
    height: 80px;
    clear: left;
}
    #playerPicker ul {
        width: 9999px;
        height: 80px;
        margin-left: 0px;
    }
        #playerPicker ul li,
        #playerForm > ul li {
            width: 80px;
            height: 80px;
            float: left;
            border-bottom: 0 none;
            list-style: none;
            margin: 0 10px 0 0;
            -webkit-border-radius: 5px;
            text-align: center;
            padding: 0;
            position: relative;
        }
            
            #playerPicker ul li img,
            #playerForm ul li img { width: 80px; }
            
            #playerPicker ul li span,
            #playerForm ul li span {
                display: block;
                background-color: rgba(0,0,0,0.5);
                margin-top: -18px;
                color: #fff;
                position: absolute;
                width: 100%;
            }
        
        #playerPicker ul .selected,
        #playerForm ul .selected {
            background-color: #000;
        }
        
        #playerPicker ul .selected img { opacity: 0.8; }

#playerForm {
    height: 580px;
    position: relative;
    width: 500px;
    margin: 0 auto 30px auto;
}
    #playerForm > ul {
        position: absolute;
        height: 80px;
        width: 80px;
        padding: 10px;
        -webkit-border-radius: 5px;
        border: 1px dashed #333;
    }
        
        #redOff { right: 0px; top: 159px }
        #redDef { right: 0px; top: 365px; }
        
        #blueDef { top: 0px; }
        #blueOff { top: 159px; }
        
        #playerForm > .highlight {
            background-color: #4f4;
            -webkit-box-shadow: -1px -1px 10px #4f4;
        }
        
        #playerForm > ul li { margin: 0; }
        
    #table {
        background: url(img/table-vert.png) no-repeat center center;
        height: 469px;
        margin-top: 50px;
    }
    
    #playBtn {
        position: absolute;
        bottom: 0;
    }
        #playBtn:disabled { background-image: url(img/playfuss-inactive.png); }
        
    #playTestBtn {
        position: absolute;
        top: -230px;
        left: 150px;
        width: 200px;
        background-color: #333;
        height: 40px;
        visibility: hidden;
    }
        
#NewPlayer {
    width: auto;
    float: right;
    }

#Links {
    float: left;
    }


/* PLAY GAME */
#message {
    width: 60%;
    height: 20%;
    position: absolute;
    background-color: red;
    z-index: 12;
    border: 2px solid black;
    left: 50%;
    margin-left: -30%;
    top: 50%;
    margin-top: -10%;
    text-align: center;
    display: none;
}

#undo {
    width: 100%;
    position: absolute;
    height: 10%;
    top: 0;
    right: 0;
    background-color: #ff0;
    z-index: 12;
    font-size: 50px;
    text-align: center;
    min-height: 30px;
    cursor: pointer;
    display: none;
}

#PlayGame {
    width: 1280px;
    height: 1024px;
    margin: -35px -50px;
    overflow: hidden;
    background: url(img/table-vert.png) no-repeat center 288px;
}
    #RedTeam { background-color: rgba(200,0,0,0.5); }
    #BlueTeam { background-color: rgba(0,0,200,0.5); }
    
    #RedTeam,
    #BlueTeam {
        float: right;
        width: 50%;
        height: 100%;
        position: relative;
    }
        #PlayGame .summary {
            position: absolute;
            width: 60%;
            height: 400px;
            left: 50%;
            margin-left: -30%;
            top: 50%;
            margin-top: -200px;
            border: 2px solid #000;
            display: none;
            z-index: 11;
            background-color: #fff;
        }
            #PlayGame .closeSummary {
                float: right;
                background-color: White;
                padding: 5px;
            }
        
        #PlayGame .score,
        #PlayGame .score {
            font-size: 100px;
            display: block;
            text-align: center;
            height: 112px;
            min-height: 30px;
            position: relative;
            z-index: 11;
            border-bottom: 1px solid black;
        }
        #PlayGame #RedTeam .score  { background-color: #f00; }
        #PlayGame #BlueTeam .score { background-color: #00f; }
        
            #PlayGame .score a {
                margin-left: 20px;
                background-color: #ff0;
                font-size: 10px;
                padding: 5px;
                color: #000;
                }

        #PlayGame div button {
            height: 200px;
            width: 200px;
            font-size: 30px;
            display: block;
            position: absolute;
            padding: 5px;
        }
            #PlayGame div button img { width: 100%; }
            #PlayGame div button span {
                display: block;
                position: absolute;
                bottom: 5px;
                text-align: center;
                width: 186px;
                background-color: rgba(255,255,255,0.8);
            }
        
        #PlayGame #RedTeam button {
            background-color: #f00;
            border: 2px inset #f00;
            left: 150px;
        }
        #PlayGame #RedTeam .playerOffense { top: 383px; }
        #PlayGame #RedTeam .playerDefense { top: 597px; }
        
        #PlayGame #BlueTeam button {
            background-color: #00f;
            border: 2px inset #00f;
            right: 150px;
        }
        #PlayGame #BlueTeam .playerDefense { top: 240px; }
        #PlayGame #BlueTeam .playerOffense { top: 457px; }

    #PlayGame .playerDefense {
        bottom: 50%;
    }

    #PlayGame .playerOffense {
        bottom: 0;
    }
    
    #RedSwitch,
    #BlueSwitch {
        height: 35px;
        width: 100px;
        background-color: rgba(100,200,100,0.9);
        position: absolute;
        color: #000;
        text-transform: uppercase;
        text-align: center;
        padding-top: 20px;
        display: none;
    }
    
    #RedSwitch {
        top: 566px;
        right: 177px;
    }
    #BlueSwitch {
        top: 424px;
        left: 177px;
    }
    
    #SelfGoalOverlay {
        width: 600px;
        height: 74px;
        position: absolute;
        top: 810px;
        left: 340px;
        font-size: 40px;
        text-align: center;
        padding-top: 37px;
        background-color: rgba(200, 200, 100, 0.9);
        display: none;
    }
    
    #PlayTime {
        font-family: Consolas, Monospace;
        font-size: 50px;
        position: absolute;
        top: 130px;
        text-align: center;
        width: 150px;
        left: 563px;
        color: #fff;
        background-color: #333;
        border: 2px solid #fff;
    }
    
    #TestMatch {
        position: absolute;
        z-index: 1000;
        color: #333;
        width: 150px;
        left: 563px;
        background-color: #fff;
        text-align: center;
    }
    
/* GAME OVER */
#blueGoals { color: #00f; }
#redGoals  { color: #f00; }

#GoalLists {
    width: 600px;
    margin: 0 auto;
    display: table;
    clear: left;
}

    #blueGoalsList {
        float: left;
        width: 290px;
    }

    #redGoalsList {
        float: right;
        width: 290px;
    }

    #blueGoalsList li { color: #00f; text-align: right; }
    #redGoalsList li  { color: #f00; }
    
    #blueGoalsList li.selfgoal { color: #f00; }
    #redGoalsList li.selfgoal  { color: #00f; }

#done {
    padding-top: 14px;
    margin-top: 40px;
    clear: both;
}
    
/* PLAYERS */
#PlayerList {
    background-color: #fff;
    }

    li {
        padding: 15px;
        margin-bottom: 5px;
        border-bottom: 1px solid #dfdfdf;
        }
        
        #PlayerList li span {
            float: right;
            }
            
/* PLAYER CARD */
#PlayerCard {
    border: 1px solid #dfdfdf;
    margin: 0 auto;
    width: 780px;
    text-align: center;
    padding: 20px 10px;
    }
    
    #PlayerCard img { margin-bottom: 20px; }
    
    #PlayerCard dl { display: table; }
    
    #PlayerCard dt {
        line-height: 20px;
        float: left;
        width: 300px;
        text-align: right;
        font-weight: bold;
        margin-right: 10px;
    }
    
    #PlayerCard dd {
        line-height: 20px;
        float: left;
        width: 400px;
        text-align: left;
    }

            
/* STATISTICS */
#HallOfFameAndShame {
    display: table;
    clear: both;
    margin: 0 auto 15px;
    }
    
    #HallOfFameAndShame li {
        margin: 0 10px 10px 0;
        width: 230px;
        padding: 10px 0;
        border: 1px solid #dfdfdf;
        float: left;
        text-align: center;
    }
    
        .awardTitle {
            font-style: italic;
            display: block;
            margin-bottom: 5px;
            }
        
        .rewardedPlayer {
            display: block;
            font-size: 200%;
            font-weight: bold;
            margin: 5px 0;
            }
 
#Tabs > ul {
    overflow: hidden;
    display: table;
    margin: 0 auto;
    }
            
.dataList {
    margin: 0 auto;
    width: 60%;
    border-collapse: collapse;
    }
    
    .dataList th {
        text-align: left;
        padding: 10px 5px;
        border-bottom: 2px solid #3336;
        cursor: pointer;
    }
            
        th span {
            display: block;
            float: left;
        }
        
        th .sorter {
            border-color: transparent;
            border-width: 6px;
            border-style: solid;
            width: 0;
            height: 0;
            margin-left: 10px;
        }
            
        .headerSortDown .sorter { border-color: #f00 transparent transparent transparent; }
        .headerSortUp .sorter   { border-color: transparent transparent #f00 transparent; }
        
    .dataList td {
        padding: 10px 5px;
        border-bottom: 1px solid #dfdfdf;
    }
    
    .dataList tr.hover {
        background-color: #dfdfdf;
        cursor: pointer;
        }
            
            
            
            
            
 * jQuery UI Tabs 1.8.8
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
.ui-tabs-selected { font-weight: bold; }