body, html { height: 100%; }
    
body { background: url(gfx/bg_main.gif) top left repeat; }

.clear { clear: both; }

/* TYPOGRAPHY */
    /* FONTS */
    @font-face {
	    font-family: 'BrandonGrotesqueRegular';
	    src: url('fonts/brandon_reg-webfont.eot');
	    src: local('☺'), url('fonts/brandon_reg-webfont.woff') format('woff'), url('fonts/brandon_reg-webfont.ttf') format('truetype'), url('fonts/brandon_reg-webfont.svg#webfontcHb6KBxQ') format('svg');
	    font-weight: normal;
	    font-style: normal;
        }
        
    @font-face {
	    font-family: 'BrandonGrotesqueBold';
	    src: url('fonts/brandon_bld-webfont.eot');
	    src: local('☺'), url('fonts/brandon_bld-webfont.woff') format('woff'), url('fonts/brandon_bld-webfont.ttf') format('truetype'), url('fonts/brandon_bld-webfont.svg#webfontcHb6KBxQ') format('svg');
	    font-weight: normal;
	    font-style: normal;
        }
    
    @font-face {
	    font-family: 'BrandonGrotesqueMedium';
	    src: url('fonts/brandon_med-webfont.eot');
	    src: local('☺'), url('fonts/brandon_med-webfont.woff') format('woff'), url('fonts/brandon_med-webfont.ttf') format('truetype'), url('fonts/brandon_med-webfont.svg#webfontcHb6KBxQ') format('svg');
	    font-weight: normal;
	    font-style: normal;
        }
        
    @font-face {
	    font-family: 'BrandonGrotesqueLightItalic';
	    src: url('fonts/brandon_light_it-webfont.eot');
	    src: local('☺'), url('fonts/brandon_light_it-webfont.woff') format('woff'), url('fonts/brandon_light_it-webfont.ttf') format('truetype'), url('fonts/brandon_light_it-webfont.svg#webfontcHb6KBxQ') format('svg');
	    font-weight: normal;
	    font-style: normal;
        }
    /* FONTS */

body {
    font-family: 'BrandonGrotesqueRegular';
    color: #fff;
    font-size: 17px;
    }

h1 {
    margin: 0 auto 20px auto;
    font-size: 48px;
    font-family: 'BrandonGrotesqueLightItalic';
    text-align: center;
    color: #fff;
    margin-top: 20px;
    }

h2 {
    margin-bottom: 20px;
    text-align: center;
    }
    
h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
    }
    
a {
    text-decoration: none;
    color: #009d0c; 
    }

.backBtn {
    display: block;
    width: 137px;
    height: 58px;
    background: url(gfx/tilbake.png) no-repeat;
    float: left;
    }

.largeBtn {
    width: 296px;
    height: 53px;
    background-color: #ff3000;
    border: 0;
    color: #fff;
    font-size: 22px;
    text-shadow: -1px -1px #000;
    cursor: pointer;
    margin: 0 0 30px -148px;
    left: 50%;
    position: relative;
    display: block;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    }
    
div.largeBtn {
    padding-top: 20px;
    height: 40px;
    }

.clear { clear: both; }

/* MASTERPAGE */
    #Main {
        margin: 0 auto;
        width: 100%;
        max-width: 1180px;
        min-width: 480px;
        padding: 0;
        position: relative;
        }

    /* MASTHEAD */
    #MastHead {
        background-color: #dae9ca;
        display: table;
        width: 100%;
        }
        
        #SiteLogo {
            float: left;
            margin: 15px 0 15px 15px;
            }

        /* NAVIGATION */
        nav ul {
            float: right;
            margin: 28px 55px 0 0;
            }
    
            nav ul li, .ui-state-default {
                display: inline-block;
                float: left;
                background-color: #fff;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -o-border-radius: 5px;
                border-radius: 5px;
                margin-left: 10px;
                text-transform: uppercase;
                font-family: 'BrandonGrotesqueMedium';
                padding: 7px 10px;
                font-size: 17px;
                }
        
                nav ul li a { color: #ff3000; }

           .ui-state-active, .ui-state-hover { background-color: #ff3000; }
           
           .ui-state-active a, .ui-state-hover a { color: #fff; }

/* RED RIBBON */
.ribbon {
    width: 100%;
    overflow: hidden;
    height: 173px;
    clear: left;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #ff3000;
    font-family: 'BrandonGrotesqueMedium';
    }

/* INDEX */
#playerPicker { background: #ff3000 url(gfx/bg_player_navigation.gif) top left repeat; }

    .scrollNav { 
        width: 85px;
        overflow: hidden;
        top: 0;
        height: 100%;
        background: center no-repeat;
        text-indent: -9999em;
        position: absolute;
        top: 0;
        }
        
        .left { 
            left: 0; 
            background-image: url(gfx/arrow_left.png);
            }

        .right { 
            right: 0; 
            background-image: url(gfx/arrow_right.png);
            }

    #playerPicker ul {
        width: auto!important;
        display: table;
        height: 100%;
        background-color: #ff3000;
        position: absolute;
        right: 85px;
        left: 85px;
        top: 0;
        width: 100%;
        }
        
        #playerPicker ul li,
        #playerForm > ul li {
            float: left;
            border-bottom: 0 none;
            list-style: none;
            -webkit-border-radius: 5px;
            text-align: center;
            padding: 0;
            position: relative;
            margin: 23px 13px 0 0;
            }
    
    #PlayerListContainer {
        width: 100%;
        float: left;
        overflow: hidden;
        border: 1px solid blue;
        margin: 0 85px;
        }
    
        #playerPicker ul {
            width: auto;
            display: table;
            height: 100%;
            background-color: #ff3000;
            margin-left: 0;
            }
        
            #playerPicker ul li,
            #playerForm > ul li {
                float: left;
                border-bottom: 0 none;
                list-style: none;
                -webkit-border-radius: 5px;
                text-align: center;
                padding: 0;
                position: relative;
                margin: 25px 13px 20px 0;
                }
            
            #playerPicker ul li span,
            #playerForm ul li span {
                display: block;
                color: #fff;
                width: 100%;
                clear: both;
                }

                #playerPicker ul li img,
                #playerForm ul li img { 
                    display: block;
                    width: 120px; 
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    -webkit-box-shadow: 1px 1px 10px #2c2c2c;
                    }
            
                #playerPicker ul li span,
                #playerForm ul li span {
                    display: block;
                    color: #fff;
                    width: 100%;
                    clear: both;
                    text-align: left;
                    margin-top: 3px;
                    }
        
            #playerPicker ul .selected,
            #playerForm ul .selected {
                background-color: #000;
                }
        
            #playerPicker ul .selected img { opacity: 0.8; }

#playerForm {
    height: 650px;
    position: relative;
    max-width: 960px;
    width: 100%;
    margin: 0 auto 30px auto;
    }
    
    .freeSpot, .playerOffense, .playerdefense {
        position: absolute;
        padding: 10px 0;
        background-color: #dae9ca;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        display: block;
        width: 252px;
        height: 202px;
        overflow: hidden;
        }
        
        .freeSpot img, .playerOffense img, .playerdefense img {
            width: 100%;
            }
        
        #redOff { 
            right: 10px; 
            top: 106px;
            }
            
        #redDef { 
            right: 10px; 
            top: 348px; 
            }
        
        #blueDef { 
            left: 10px; 
            top: -35px; 
            }
            
        #blueOff { 
            left: 10px; 
            top: 224px; 
            }
        
        #playerForm > .highlight {
            background-color: #4f4;
            -webkit-box-shadow: -1px -1px 10px #4f4;
            }
        
        #playerForm > ul li { margin: 0; }
        
    #table {
        margin: 0 auto;
        width: 43%;
        }
        
        #table img { width: 100%; }
    
    #playBtn {
        position: absolute;
        bottom: 0;
        }
        
    #playBtn:disabled { 
        background-color: gray; 
        color: darkgray;
        border: 0 none;
        }
        
    #playTestBtn {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 200px;
        background-color: #333;
        height: 40px;
        }
        
#NewPlayer {
    width: auto;
    float: right;
    }

#Links { float: left; }


/* PLAY GAME */
#message {
    width: 60%;
    height: 20%;
    position: absolute;
    background-color: red;
    z-index: 12;
    border: 2px solid black;
    left: 50%;
    margin-left: -30%;
    top: 50%;
    margin-top: -10%;
    text-align: center;
    display: none;
    }

#PlayGame {
    width: 100%;
    margin: 0;
    }
    
    .teamView {
        
        }
    
    #RedTeam { 
        float: right;
        }
    
    #PlayGame #Table { 
        float: right; 
        margin-top: 67px;
        }
    
    #BlueTeam { 
        float: left;
        }
    
    #RedTeam,
    #BlueTeam {
        width: 28%;
        position: relative;
        margin-top: -13%;
        height: 80%;
        }
    
        #PlayGame .summary {
            position: absolute;
            width: 60%;
            height: 400px;
            left: 50%;
            margin-left: -30%;
            top: 50%;
            margin-top: -200px;
            padding: 10px;
            color: #000;
            display: none;
            z-index: 11;
            background-color: #fff;
            }
            
            #PlayGame .closeSummary {
                float: right;
                background-color: White;
                padding: 5px;
                }
        
        #PlayGame .score {
            display: block;
            text-align: right;
            height: 151px;
            min-height: 30px;
            position: relative;
            z-index: 11;
            }
            
            #RedTeam .score { text-align: left; }
        
            #PlayGame .score a {
                margin-left: 20px;
                padding: 5px;
                color: #fff;
                font-family: 'BrandonGrotesqueBold';
                font-size: 209px;
                line-height: 0.7em;
                }

        #PlayGame div button {
            font-size: 30px;
            display: block;
            position: absolute;
            padding: 5px;
            }
            
            #PlayGame button img { 
                width: 100%; 
                }
            
            #PlayGame div button span, #PlayGame button img {
                -webkit-border-bottom-radius: 5px;
                -moz-border-radius-bottomright: 5px;
                -moz-border-radius-bottomleft: 5px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                }
            
            #PlayGame div button span {
                display: block;
                position: absolute;
                bottom: 5px;
                text-align: left;
                width: 218px;
                background-color: rgba(000, 000, 000,0.8);
                font-size: 16px;
                color: #fff;
                padding: 5px 10px;
                font-family: 'BrandonGrotesqueBold';
                }
                
                #PlayGame div button span { bottom: 5px; }
        
        #PlayGame #RedTeam button { left: 0; }
            
        #PlayGame #RedTeam .playerOffense { top: 410px; }
        #PlayGame #RedTeam .playerDefense { top: 673px; }
        
        #PlayGame #BlueTeam button { right: 0; }
            
        #PlayGame #BlueTeam .playerDefense { top: 215px; }
        #PlayGame #BlueTeam .playerOffense { top: 484px; }

    #PlayGame .playerDefense { bottom: 50%; }

    #PlayGame .playerOffense { bottom: 0; }
    
    #RedSwitch,
    #BlueSwitch {
        width: 70px;
        height: 101px;
        background: url(gfx/switch.png) top left no-repeat;
        text-indent: -9999em;
        overflow: hidden;
        position: absolute;
        color: #000;
        text-transform: uppercase;
        text-align: center;
        padding-top: 20px;
        display: none;
        }
    
    #RedSwitch {
        top: 590px;
        right: 0;
        }
    
    #BlueSwitch {
        top: 399px;
        left: 0px;
        }
    
    #SelfGoalOverlay {
        text-align: center;
        clear: both;
        display: none;
        }
        #SelfGoalOverlay.clicked {
            background-color: #333;
            }
    
    #PlayTime {
        font-family: 'BrandonGrotesqueBold';
        font-size: 48px;
        position: absolute;
        top: 153px;
        text-align: center;
        width: 150px;
        left: 509px;
        color: #fff;
        }
    
    #TestMatch {
        position: absolute;
        z-index: 1000;
        color: #333;
        width: 150px;
        bottom: 0;
        left: 510px;
        background-color: #fff;
        text-align: center;
        }
    
/* GAME OVER */
#blueGoals { color: #00f; }
#redGoals  { color: #f00; }

#GoalLists {
    width: 600px;
    margin: 0 auto;
    display: table;
    clear: left;
    }

    #blueGoalsList {
        float: left;
        width: 290px;
        }

    #redGoalsList {
        float: right;
        width: 290px;
        }

    #blueGoalsList li { color: #00f; text-align: right; }
    #redGoalsList li  { color: #f00; }
    
    #blueGoalsList li.selfgoal { color: #f00; }
    #redGoalsList li.selfgoal  { color: #00f; }

#done {
    padding-top: 14px;
    margin-top: 40px;
    clear: both;
    }
    
/* PLAYERS */
#PlayerList {
    background-color: #fff;
    }

    li {
        padding: 15px;
        margin-bottom: 5px;
        border-bottom: 1px solid #dfdfdf;
        }
        
        #PlayerList li span { float: right; }
            
/* PLAYER CARD */
#PlayerCard {
    margin: 0 auto;
    width: 780px;
    text-align: center;
    padding: 20px 10px;
    }
    
    #PlayerCard img { margin-bottom: 20px; }
    
    #PlayerCard dl { display: table; }
    
    #PlayerCard dt {
        line-height: 20px;
        float: left;
        width: 300px;
        text-align: right;
        font-weight: bold;
        margin-right: 10px;
        }
    
    #PlayerCard dd {
        line-height: 20px;
        float: left;
        width: 400px;
        text-align: left;
        }

            
/* STATISTICS */
#Last10 img {
    position: absolute;
    top: 300px;
    left: 500px;
    }

#HallOfFameAndShame {
    display: table;
    clear: both;
    margin: 0 auto 15px;
    }
    
    #HallOfFameAndShame li {
        margin: 0 10px 10px 0;
        width: 230px;
        padding: 10px 0;
        border: 1px solid #dfdfdf;
        float: left;
        text-align: center;
        }
    
        .awardTitle {
            font-style: italic;
            display: block;
            margin-bottom: 5px;
            }
        
        .rewardedPlayer {
            display: block;
            font-size: 200%;
            font-weight: bold;
            margin: 5px 0;
            }
 
#Tabs > ul {
    overflow: hidden;
    display: table;
    margin: 0 auto;
    }

.dataList {
    margin: 0 auto;
    width: 70%;
    min-width: 638px;
    border-collapse: collapse;
    font-size: 20px;
    font-family: 'BrandonGrotesqueMedium';
    }
    
    .dataList th {
        text-align: left;
        padding: 10px 5px;
        border-bottom: 2px solid #3336;
        cursor: pointer;
        }
            
        th span {
            display: block;
            float: left;
            }
        
        th .sorter {
            border-color: transparent;
            border-width: 6px;
            border-style: solid;
            width: 0;
            height: 0;
            margin-left: 10px;
            }
            
        .headerSortDown .sorter { border-color: #ff3000 transparent transparent transparent; }
        .headerSortUp .sorter   { border-color: transparent transparent #ff3000 transparent; }
        
    .dataList td {
        padding: 6px 5px;
        border-bottom: 1px solid #fff;
        }
    
    .dataList tr.hover, .dataList tr.focus {
        background-color: #ff3000;
        cursor: pointer;
        }
        
        .dataList tr.hover a, .dataList tr.focus a { color: #fff; }