@{
    ViewBag.Title = "General";
}

<table id="GeneralStatsList" class="dataList">
	<thead>
		<tr>
			<th>Blå seiere</th>
			<th>Rød seiere</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>@ViewData["BlueWins"]</td>
			<td>@ViewData["RedWins"]</td>
		</tr>
	</tbody>
</table>

