
@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/jquery.ui.js")"></script>
<script src="@Url.Content("~/Scripts/statistics.js")"></script>
<script>
    $(function () {
        $("#Tabs").tabs();
    });
</script>
<h1>Statistikk</h1>
@*
    * Generelle
        - Beste par
        - Beste farge
        - Beste posisjon
        - Værste par
    
*@
<div id="Tabs">
    <ul>
        <li><a href="#Last10">Siste 10 kamper</a></li>
        <li><a href="#Overall">Overall</a></li>
        <li><a href="#General">Generelt</a></li>
    </ul>
    <div id="Last10">
        <img src="@Url.Content("~/Skin/gfx/ajax-loader.gif")" alt="Laster statistikk...">
    </div>
    <div id="Overall">
        
    </div>
    <div id="General">

    </div>
</div>